<section class="section articles-add">
  <div class="container is-fullhd">
    <form action="/admin-pannel/editAdmin/post/{{_id}}" method="POST" enctype="multipart/form-data" style="text-align: center;">
      <div class="field">
        <label class="label" style="color: blue; font-size: 150%">Nom</label>
        <div class="control">
          <input class="input" type="text" name="title" value="{{data.name}}" style="padding-left: 200px;">
        </div>
      </div>
      <div class="field">
        <label class="label" style="color: blue; font-size: 150%">Prénom</label>
        <div class="control">
          <input class="input" type="text" name="title" value="{{data.surname}}" style="padding-left: 200px;">
        </div>
      </div>
      <div class="field">
        <label class="label" style="color: blue; font-size: 150%">Date de naissance</label>
        <div class="control">
          <input class="input" type="text" name="birthday" value="{{data.birthdate}}" style="padding-left: 200px;">
        </div>
      </div>
      <div class="field">
        <label class="label" style="color: blue; font-size: 150%">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" value="{{data.email}}" style="padding-left: 200px;">
        </div>
      </div>
    <br>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Enregister</button>
        </div>
    </form>
    <br>
    <form action="/actus" method="GET" enctype="multipart/form-data">
            <div class="control">
          <button class="button is-text">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</section>