<section class="section pannel-section">
    <div class="container pannel-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Administrateurs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each admin}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.surname}}</td>
                            <td>{{moment this.birthdate format="DD/MM/YYYY"}}</td>
                            <td>{{this.email}}</td>
                            <td>
                                <a href="admin-pannel/admins/edit/{{this._id}}"><button><i
                                            class="fas fa-pencil-alt"></i></button></a>
                                <button onclick="deleteAdmin()"><i class="fas fa-trash-alt"></button></i>
                            </td>
                        </tr>
                        <script>
                            function deleteAdmin() {
                                if (confirm("Voulez-vous supprimer cet Administrateur ?")) {
                                    window.location.replace(`/admin-pannel/admins/delete/{{this._id}}`)
                                } else {
                                    windows.location.replace(`/admin-pannel`)
                                }
                            }
                        </script>
                        {{/each}}
                        <a href="/admin-pannel/admins/create"><i class="fas fa-plus-circle fa-2x"></i></a>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>