<section class="section section-trombi">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1 style="text-align: center">Trombinoscope</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <a href="/admin-pannel/trombi/add"><i class="fas fa-plus-circle fa-2x"></i></a>
            </div>
        </div>
        {{!-- ============================================================= BUREAU =============================================== --}}
        <div class="container container-trombi">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="trombi-title">Le bureau</h4>
                </div>
            </div>
            <div class="row">

                {{#each trombiBureau}}
                <div class="col-md-2">

                    {{!-- TROMBI --}}
                    <div class="card card-trombi">
                        <img class="card-img-top trombi-pictures" src="{{image}}" alt="">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">{{name}}</h5>
                            <h5 class="card-subtitle mb-2 text-muted">{{surname}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{birthDate}}</h6>

                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <a href="/admin-pannel/trombi/edit/{{_id}}"><i class="fas fa-pencil-alt"></i></a>

                            </div>
                            <div class="col-md-4">
                                <a href="/admin-pannel/trombi/delete/{{_id}}"><i class="fas fa-trash-alt"></i></a>

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- ============================================================= EQUIPE 1 =============================================== --}}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 1</h4>
                            </div>
                        </div>
                        <div class="row">
                            {{#each trombi1}}
                            <div class="col-md-4">

                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures" src="{{image}}" alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">{{name}}</h5>
                                        <h5 class="card-subtitle mb-2 text-muted">{{surname}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{birthDate}}</h6>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/edit/{{_id}}"><i
                                                    class="fas fa-pencil-alt"></i></a>

                                        </div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/delete/{{_id}}"><i
                                                    class="fas fa-trash-alt"></i></a>

                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{!-- ============================================================= EQUIPE 2 =============================================== --}}

                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 2</h4>
                            </div>
                        </div>
                        <div class="row">
                            
                            {{#each trombi2}}
                            <div class="col-md-4">

                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures" src="{{image}}" alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">{{name}}</h5>
                                        <h5 class="card-subtitle mb-2 text-muted">{{surname}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{birthDate}}</h6>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/edit/{{_id}}"><i
                                                    class="fas fa-pencil-alt"></i></a>

                                        </div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/delete/{{_id}}"><i
                                                    class="fas fa-trash-alt"></i></a>

                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- ======================================================================= EQUIPE 3 ========================================================= --}}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 3</h4>
                            </div>

                        </div>
                        <div class="row">
                            
                            {{#each trombi3}}
                            <div class="col-md-4">

                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures" src="{{image}}" alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">{{name}}</h5>
                                        <h5 class="card-subtitle mb-2 text-muted">{{surname}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{birthDate}}</h6>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/edit/{{_id}}"><i
                                                    class="fas fa-pencil-alt"></i></a>

                                        </div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/delete/{{_id}}"><i
                                                    class="fas fa-trash-alt"></i></a>

                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{!-- ============================================================= EQUIPE 4 =============================================== --}}

                <div class="col-md-6">
                    <div class="container container-trombi">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="trombi-title">Equipe 4</h4>
                            </div>
                        </div>
                        <div class="row">
                            
                            {{#each trombi4}}
                            <div class="col-md-4">

                                {{!-- TROMBI --}}
                                <div class="card card-trombi">
                                    <img class="card-img-top trombi-pictures" src="{{image}}" alt="">
                                    <div class="card-body">
                                        <h5 class="card-subtitle mb-2 text-muted">{{name}}</h5>
                                        <h5 class="card-subtitle mb-2 text-muted">{{surname}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{birthDate}}</h6>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/edit/{{_id}}"><i
                                                    class="fas fa-pencil-alt"></i></a>

                                        </div>
                                        <div class="col-md-4">
                                            <a href="/admin-pannel/trombi/delete/{{_id}}"><i
                                                    class="fas fa-trash-alt"></i></a>

                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>